.payment_systems-dashboard {
	grid-template-columns: repeat(4, 1fr);
	margin-bottom: 24px;
}

.dashboard_balance {
	display: flex;
	margin-left: 10px;
	font-weight: 700;
	font-size: 14px;
	&-value {
		color: $middleblue;
		margin-right: 5px;
	}
}

.main_lk-dashboard {
	h3 {
		font-weight: bold;
		font-size: 20px;
		line-height: 126.4%;
		color: #6D788C;
		margin: 75px 0 30px;
	}
}

.deposits_item-dashboard {
	grid-template-columns: 1fr repeat(5, auto) 150px;
	grid-gap: 30px;
	padding: 30px 75px 30px 40px;
	border-radius: 9px;
	margin-bottom: 6px;
	background-image: url("data:image/svg+xml,%3Csvg width='1107' height='79' viewBox='0 0 1107 79' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 68.5764L11.9925 66.8391C23.0625 65.1018 46.125 61.6273 69.1875 47.7291C92.25 33.8309 115.312 9.50909 138.375 6.03455C161.438 2.56 184.5 19.9327 207.562 19.9327C230.625 19.9327 253.688 2.56 276.75 4.29728C299.812 6.03455 322.875 26.8818 345.938 40.78C369 54.6782 392.062 61.6273 415.125 63.3645C438.188 65.1018 461.25 61.6273 484.312 58.1527C507.375 54.6782 530.438 51.2036 553.5 49.4664C576.562 47.7291 599.625 47.7291 622.688 42.5173C645.75 37.3055 668.812 26.8818 691.875 25.1445C714.938 23.4073 738 30.3564 761.062 37.3055C784.125 44.2545 807.188 51.2036 830.25 52.9409C853.312 54.6782 876.375 51.2036 899.438 52.9409C922.5 54.6782 945.562 61.6273 968.625 49.4664C991.688 37.3055 1014.75 6.03455 1037.81 0.82273C1060.88 -4.38909 1083.94 16.4582 1095.93 26.8818L1107 37.3055V79H1095.93C1083.94 79 1060.88 79 1037.81 79C1014.75 79 991.688 79 968.625 79C945.562 79 922.5 79 899.438 79C876.375 79 853.312 79 830.25 79C807.188 79 784.125 79 761.062 79C738 79 714.938 79 691.875 79C668.812 79 645.75 79 622.688 79C599.625 79 576.562 79 553.5 79C530.438 79 507.375 79 484.312 79C461.25 79 438.188 79 415.125 79C392.062 79 369 79 345.938 79C322.875 79 299.812 79 276.75 79C253.688 79 230.625 79 207.562 79C184.5 79 161.438 79 138.375 79C115.312 79 92.25 79 69.1875 79C46.125 79 23.0625 79 11.9925 79H0V68.5764Z' fill='%230099FF' fill-opacity='0.03'/%3E%3C/svg%3E%0A");
	header, .loading_wrap {
		grid-column: unset 
	}
	.deposits_item-info {
		p {
			font-size: 14px;
		}
	}
	
	&.deposits_item-max {
		background-color: #060F38;
		background-image: url("data:image/svg+xml,%3Csvg width='1107' height='79' viewBox='0 0 1107 79' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 68.5764L11.9925 66.8391C23.0625 65.1018 46.125 61.6273 69.1875 47.7291C92.25 33.8309 115.312 9.50909 138.375 6.03455C161.438 2.56 184.5 19.9327 207.562 19.9327C230.625 19.9327 253.688 2.56 276.75 4.29728C299.812 6.03455 322.875 26.8818 345.938 40.78C369 54.6782 392.062 61.6273 415.125 63.3645C438.188 65.1018 461.25 61.6273 484.312 58.1527C507.375 54.6782 530.438 51.2036 553.5 49.4664C576.562 47.7291 599.625 47.7291 622.688 42.5173C645.75 37.3055 668.812 26.8818 691.875 25.1445C714.938 23.4073 738 30.3564 761.062 37.3055C784.125 44.2545 807.188 51.2036 830.25 52.9409C853.312 54.6782 876.375 51.2036 899.438 52.9409C922.5 54.6782 945.562 61.6273 968.625 49.4664C991.688 37.3055 1014.75 6.03455 1037.81 0.82273C1060.88 -4.38909 1083.94 16.4582 1095.93 26.8818L1107 37.3055V79H1095.93C1083.94 79 1060.88 79 1037.81 79C1014.75 79 991.688 79 968.625 79C945.562 79 922.5 79 899.438 79C876.375 79 853.312 79 830.25 79C807.188 79 784.125 79 761.062 79C738 79 714.938 79 691.875 79C668.812 79 645.75 79 622.688 79C599.625 79 576.562 79 553.5 79C530.438 79 507.375 79 484.312 79C461.25 79 438.188 79 415.125 79C392.062 79 369 79 345.938 79C322.875 79 299.812 79 276.75 79C253.688 79 230.625 79 207.562 79C184.5 79 161.438 79 138.375 79C115.312 79 92.25 79 69.1875 79C46.125 79 23.0625 79 11.9925 79H0V68.5764Z' fill='%23151E47'/%3E%3C/svg%3E%0A");
		.plans_item-daily {
			background: #0CCA1F;
		}
		.deposits_item-info {
			p, time {
				color:#0CCA1F;	
			}
		}
	
		.progressbar {
			background: #33428A;
		}
		.system_name,
		.deposits_item-info h6,
		.loading_title,
		header h4 {
			color:#fff;
		}
	}
	&.deposits_item-balanced {
		background-color:#064DC8;
		background-image: url("data:image/svg+xml,%3Csvg width='584' height='79' viewBox='0 0 584 79' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 68.5764L6.32667 66.8391C12.1667 65.1018 24.3333 61.6273 36.5 47.7291C48.6667 33.8309 60.8333 9.50909 73 6.03455C85.1667 2.56 97.3333 19.9327 109.5 19.9327C121.667 19.9327 133.833 2.56 146 4.29728C158.167 6.03455 170.333 26.8818 182.5 40.78C194.667 54.6782 206.833 61.6273 219 63.3645C231.167 65.1018 243.333 61.6273 255.5 58.1527C267.667 54.6782 279.833 51.2036 292 49.4664C304.167 47.7291 316.333 47.7291 328.5 42.5173C340.667 37.3055 352.833 26.8818 365 25.1445C377.167 23.4073 389.333 30.3564 401.5 37.3055C413.667 44.2545 425.833 51.2036 438 52.9409C450.167 54.6782 462.333 51.2036 474.5 52.9409C486.667 54.6782 498.833 61.6273 511 49.4664C523.167 37.3055 535.333 6.03455 547.5 0.82273C559.667 -4.38909 571.833 16.4582 578.16 26.8818L584 37.3055V79H578.16C571.833 79 559.667 79 547.5 79C535.333 79 523.167 79 511 79C498.833 79 486.667 79 474.5 79C462.333 79 450.167 79 438 79C425.833 79 413.667 79 401.5 79C389.333 79 377.167 79 365 79C352.833 79 340.667 79 328.5 79C316.333 79 304.167 79 292 79C279.833 79 267.667 79 255.5 79C243.333 79 231.167 79 219 79C206.833 79 194.667 79 182.5 79C170.333 79 158.167 79 146 79C133.833 79 121.667 79 109.5 79C97.3333 79 85.1667 79 73 79C60.8333 79 48.6667 79 36.5 79C24.3333 79 12.1667 79 6.32667 79H0V68.5764Z' fill='%231F5FCE'/%3E%3C/svg%3E%0A");		
		.deposits_item-info {
			p, time {
				color:#fff;	
			}
		}
		.system_name,
		.deposits_item-info h6,
		.loading_title,
		header h4 {
			color:#fff;
		}
	}
}


@media screen and (max-width: 1180px) {
	.deposits_item-dashboard,
	.payment_systems-dashboard {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 520px) {
	.payment_systems-dashboard {
		grid-template-columns: 1fr;
	}
	.deposits_item-dashboard {
		grid-gap: 15px;
		padding: 15px;
		header {
			align-items: flex-start;
		}
		.plans_item-info {
			margin: 0;
		}
		.loading_wrap {
			grid-column: 1 / 3;
		}
	}
}