.payment_systems-dashboard {
	grid-template-columns: repeat(4, 1fr);
	margin-bottom: 24px;
}

.dashboard_balance {
	display: flex;
	margin-left: 10px;
	font-weight: 700;
	font-size: 14px;
	width: 120px;
	margin-left: auto;
	justify-content: flex-end;
	&-value {
		color: $middleblue;
		margin-right: 5px;
	}
}

.main_lk-dashboard {
	h3 {
		font-weight: bold;
		font-size: 20px;
		line-height: 126.4%;
		color: #6D788C;
		margin: 75px 0 30px;
	}
}

.deposits_item-dashboard {
	grid-template-columns: 1fr auto auto  auto 135px auto 150px;
	grid-gap: 20px;
	padding: 30px 75px 30px 40px;
	border-radius: 9px;
	margin-bottom: 6px;
	background-image: url("data:image/svg+xml,%3Csvg width='1107' height='79' viewBox='0 0 1107 79' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 68.5764L11.9925 66.8391C23.0625 65.1018 46.125 61.6273 69.1875 47.7291C92.25 33.8309 115.312 9.50909 138.375 6.03455C161.438 2.56 184.5 19.9327 207.562 19.9327C230.625 19.9327 253.688 2.56 276.75 4.29728C299.812 6.03455 322.875 26.8818 345.938 40.78C369 54.6782 392.062 61.6273 415.125 63.3645C438.188 65.1018 461.25 61.6273 484.312 58.1527C507.375 54.6782 530.438 51.2036 553.5 49.4664C576.562 47.7291 599.625 47.7291 622.688 42.5173C645.75 37.3055 668.812 26.8818 691.875 25.1445C714.938 23.4073 738 30.3564 761.062 37.3055C784.125 44.2545 807.188 51.2036 830.25 52.9409C853.312 54.6782 876.375 51.2036 899.438 52.9409C922.5 54.6782 945.562 61.6273 968.625 49.4664C991.688 37.3055 1014.75 6.03455 1037.81 0.82273C1060.88 -4.38909 1083.94 16.4582 1095.93 26.8818L1107 37.3055V79H1095.93C1083.94 79 1060.88 79 1037.81 79C1014.75 79 991.688 79 968.625 79C945.562 79 922.5 79 899.438 79C876.375 79 853.312 79 830.25 79C807.188 79 784.125 79 761.062 79C738 79 714.938 79 691.875 79C668.812 79 645.75 79 622.688 79C599.625 79 576.562 79 553.5 79C530.438 79 507.375 79 484.312 79C461.25 79 438.188 79 415.125 79C392.062 79 369 79 345.938 79C322.875 79 299.812 79 276.75 79C253.688 79 230.625 79 207.562 79C184.5 79 161.438 79 138.375 79C115.312 79 92.25 79 69.1875 79C46.125 79 23.0625 79 11.9925 79H0V68.5764Z' fill='%230099FF' fill-opacity='0.03'/%3E%3C/svg%3E%0A");
	header, .loading_wrap {
		grid-column: unset 
	}
	.deposits_item-info {
		p {
			font-size: 14px;
		}
	}
	
	&.deposits_item-max {
		background-color: #060F38;
		background-image: url("data:image/svg+xml,%3Csvg width='1107' height='79' viewBox='0 0 1107 79' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 68.5764L11.9925 66.8391C23.0625 65.1018 46.125 61.6273 69.1875 47.7291C92.25 33.8309 115.312 9.50909 138.375 6.03455C161.438 2.56 184.5 19.9327 207.562 19.9327C230.625 19.9327 253.688 2.56 276.75 4.29728C299.812 6.03455 322.875 26.8818 345.938 40.78C369 54.6782 392.062 61.6273 415.125 63.3645C438.188 65.1018 461.25 61.6273 484.312 58.1527C507.375 54.6782 530.438 51.2036 553.5 49.4664C576.562 47.7291 599.625 47.7291 622.688 42.5173C645.75 37.3055 668.812 26.8818 691.875 25.1445C714.938 23.4073 738 30.3564 761.062 37.3055C784.125 44.2545 807.188 51.2036 830.25 52.9409C853.312 54.6782 876.375 51.2036 899.438 52.9409C922.5 54.6782 945.562 61.6273 968.625 49.4664C991.688 37.3055 1014.75 6.03455 1037.81 0.82273C1060.88 -4.38909 1083.94 16.4582 1095.93 26.8818L1107 37.3055V79H1095.93C1083.94 79 1060.88 79 1037.81 79C1014.75 79 991.688 79 968.625 79C945.562 79 922.5 79 899.438 79C876.375 79 853.312 79 830.25 79C807.188 79 784.125 79 761.062 79C738 79 714.938 79 691.875 79C668.812 79 645.75 79 622.688 79C599.625 79 576.562 79 553.5 79C530.438 79 507.375 79 484.312 79C461.25 79 438.188 79 415.125 79C392.062 79 369 79 345.938 79C322.875 79 299.812 79 276.75 79C253.688 79 230.625 79 207.562 79C184.5 79 161.438 79 138.375 79C115.312 79 92.25 79 69.1875 79C46.125 79 23.0625 79 11.9925 79H0V68.5764Z' fill='%23151E47'/%3E%3C/svg%3E%0A");
		.plans_item-daily {
			background: #0CCA1F;
		}
		.deposits_item-info {
			p, time {
				color:#0CCA1F;	
			}
		}
	
		.progressbar {
			background: #33428A;
		}
		.system_name,
		.deposits_item-info h6,
		.loading_title,
		header h4 {
			color:#fff;
		}
	}
	&.deposits_item-balanced {
		background-color:#064DC8;
		background-image: url("data:image/svg+xml,%3Csvg width='1107' height='79' viewBox='0 0 1107 79' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 68.5764L11.9925 66.8391C23.0625 65.1018 46.125 61.6273 69.1875 47.7291C92.25 33.8309 115.312 9.50909 138.375 6.03455C161.438 2.56 184.5 19.9327 207.562 19.9327C230.625 19.9327 253.688 2.56 276.75 4.29728C299.812 6.03455 322.875 26.8818 345.938 40.78C369 54.6782 392.062 61.6273 415.125 63.3645C438.188 65.1018 461.25 61.6273 484.312 58.1527C507.375 54.6782 530.438 51.2036 553.5 49.4664C576.562 47.7291 599.625 47.7291 622.688 42.5173C645.75 37.3055 668.812 26.8818 691.875 25.1445C714.938 23.4073 738 30.3564 761.062 37.3055C784.125 44.2545 807.188 51.2036 830.25 52.9409C853.312 54.6782 876.375 51.2036 899.438 52.9409C922.5 54.6782 945.562 61.6273 968.625 49.4664C991.688 37.3055 1014.75 6.03455 1037.81 0.82273C1060.88 -4.38909 1083.94 16.4582 1095.93 26.8818L1107 37.3055V79H1095.93C1083.94 79 1060.88 79 1037.81 79C1014.75 79 991.688 79 968.625 79C945.562 79 922.5 79 899.438 79C876.375 79 853.312 79 830.25 79C807.188 79 784.125 79 761.062 79C738 79 714.938 79 691.875 79C668.812 79 645.75 79 622.688 79C599.625 79 576.562 79 553.5 79C530.438 79 507.375 79 484.312 79C461.25 79 438.188 79 415.125 79C392.062 79 369 79 345.938 79C322.875 79 299.812 79 276.75 79C253.688 79 230.625 79 207.562 79C184.5 79 161.438 79 138.375 79C115.312 79 92.25 79 69.1875 79C46.125 79 23.0625 79 11.9925 79H0V68.5764Z' fill='%231F5FCE'/%3E%3C/svg%3E%0A");
		.deposits_item-info {
			p, time {
				color:#fff;	
			}
		}
		.system_name,
		.deposits_item-info h6,
		.loading_title,
		header h4 {
			color:#fff;
		}
	}
}

.main_lk-deposits .deposits_item-dashboard:last-of-type {
	margin-bottom: 45px;
}


.empty_table {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	position: relative;
	margin-bottom: 46px;
	img {
		width: 100%;
	}
	.btn {
		position: absolute;
		
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);
		z-index: 5;
	}
}

.empty_text {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	line-height: 1.5;
	color: #0497FD;
}

@media screen and (max-width: 1180px) {
	.deposits_item-dashboard,
	.payment_systems-dashboard {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 768px) {
	.payment_systems-dashboard {
		grid-template-columns: 1fr;
	}
	.deposits_item-dashboard {
		grid-gap: 15px;
		padding: 15px;
		header {
			align-items: flex-start;
		}
		.plans_item-info {
			margin: 0;
		}
		.loading_wrap {
			grid-column: 1 / 3;
		}
	}
}