.footer {
	display: flex;
	justify-content: space-between;
	background:url('../img/footer_bg.jpg') center no-repeat;
	background-size: cover;
	padding-top: 30px;
	padding-bottom: 55px;
	color: #fff;
	.user {
		margin-left: 10px;
		margin-right: 40px;
		.avatar_wrap {
			border-color:#1BE2FF;
		}
	}
	.user_info-name {
		color: #fff;
	}

	.logo {
		margin-bottom: 15px;
		margin-right: 73px;
		margin-left: 16px;
	}

	&-nav {
		display: flex;

		ul {
			font-size: 14px;
			list-style: none;
			margin-right: 24px;
			a:hover {
				color:$lightblue;
			}
			li{
				margin-bottom: 12px;
				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}
	&_links {
		padding-top: 0px;

		.login_btns {
			margin-bottom: 27px;
		}
		&-list {
			margin-left: 10px;
			display: grid;
			grid-template-columns: repeat(2, auto);
			grid-gap: 6px 20px;
			list-style: none;
			font-size: 12px;
			font-weight: 700;
			a {
				text-decoration: underline;
				&:hover {
					color:$lightblue;
				}
			}
			li {
				margin-bottom: 0;
			}
		}
	}
	.social_links {
		margin-left: 16px;
		margin-bottom: 15px;
	}
}

.tg_link {
	position: fixed;
	bottom: 180px;
	right: 30px;
}

@media screen and (max-width: 1180px) {
	.footer_links {
		display: flex;
		margin-left: 10px;
		flex-direction: column;
		.login_btns {
			flex-direction: column-reverse;
			margin-bottom: auto;
			
			.btn {
				margin-bottom: 15px;
				margin-left: 0;
			}
		}
		.footer_links-list {
			margin-left: 0px;
			margin-top: 20px;
			grid-template-columns: 1fr;
			grid-gap: 15px;
		}
	}
	.footer .user {
		margin-right: 0;
		margin-left: 0;
	}

}

@media screen and (max-width: 520px) {
	.footer {
		flex-wrap: wrap;
		padding-bottom: 100px;
		&_links {
			justify-content: space-between;
			margin-left: 0;
			&-list {
				text-align: right;
			}
			
		}
		.login_btns {
			margin-top: 0;
			.btn {
				margin-right: 0;
			}
		}
		.logo {
			margin-right: 10px;
		}
	}
	.footer-nav {
		display: none;
	}
	.tg_link {
		bottom: 20px;
		right: 20px;
	}
	.footer .user .avatar_wrap {
		margin-right: 5px;
	}
	.footer .user_info-name {
		font-size: 10px;
	}
}