.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #fff;
	list-style: none;
	font-size: 14px;
	li {
		margin-right: 24px;
		margin-bottom: 0;
		&:nth-last-child(-n+2) {
			margin-right: 10px;
		}
	}
	a:hover {
		color: $lightblue;
	}
}

.header {
	background:url("../img/header_bg.jpg") center no-repeat;
	background-size: cover;
	display: flex;
	padding-top: 28px;
	padding-bottom: 27px;
	align-items: flex-end;
	border-bottom: 1px solid #315FA8;
	.user {
		margin-right: 0;
		margin-left: 63px;
		position: relative;
		
		.avatar_wrap {
			border-color:#1BE2FF;
		}
		&_info-name {
			color: #fff;
		}
		.user_nav-toggler {
			border: none;
			background:none;
			color:#fff;
			display: flex;
			align-items: center;
			white-space: nowrap;			
			svg {
				min-width:7px;
				margin-left: 5px;
				pointer-events:none;
			}

		}
		.user_nav-show {
			* {
				pointer-events:none;
			}
		}
	}

}
.user_nav {
	position: absolute;
	top: 100%;
	right: 0;
	width: 100%;
	min-width: 150px;
	text-align: left;
	list-style:none;
	padding: 10px;
	transition:0.5s;
	background:#fff;
	opacity:0;
	pointer-events:none;
	z-index: 50;
	box-shadow:0 5px 15px rgba(0,0,0,.15);
	border-radius:5px;
	&.active {
		transform:translate(0,10px);
		opacity:1;
		pointer-events:unset;
	}
	a:hover {
		text-decoration: underline;
		color:$lightblue;
	}
	li {
		margin-bottom: 15px;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}
.logo {
	display: block;
	min-width: 108px;
	margin-right: 60px;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.social_links {
	display: flex;
	list-style: none;
	li {
		margin: 0 5px;
	}
}
.login_btns {
	display: flex;
	.btn {
		margin-left: 10px;
	}
}
.lang_select {
	color: #fff;
	border:none;
	background: url("data:image/svg+xml,%3Csvg width='7' height='4' viewBox='0 0 7 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 0.5L3.5 2.5L6 0.5' stroke='white'/%3E%3C/svg%3E%0A") calc(100% - 10px) 50% no-repeat;
	position: relative;
	option {
		color: #000;
	}
}

.lang_flag {
	content:'';
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 20px;
	height: 15px;
	margin-right: 6px;
}
.lang_wrap {
	display: flex;
	align-items: center;
	margin-right: 0;
}

.show_menu {
	width: 25px;
	height: 25px;
	border: none;
	background:transparent;
	position: relative;
	transition:0.5s;
	display: none;
	span {
		display: block;
		width: 25px;
		height: 2px;
		position: absolute;
		top: 50%;
		right: 0%;
		transform: translate(0%,-50%);
		background:#fff;
		z-index: 5;
		pointer-events:none;
		transition:0.5s;
		
		&:first-of-type {
			top: calc(50% - 7px);
		}
		&:last-of-type {
			top: calc(50% + 7px);
		}
		&:nth-of-type(2) {
			left: 0;
			transform: translate(0,-50%)
		}
	}
	&.active {
		span {
			top: 50% !important;
			left: 50% !important;
			&:nth-of-type(2),
			&:nth-of-type(1) {
				transform: translate(-50%,-50%) rotate(-225deg);
			}
			&:last-of-type {
				transform: translate(-50%,-50%) rotate(225deg)
			}
		}
	}
}

.statusbar {
	background: #05286F;
	padding-top:7px;
	overflow: hidden;
	padding-bottom: 7px;
	&_list {
		display: flex;
		list-style: none;
		li {
			display: flex;
			justify-content: center;
			align-items: center;
			min-width: 205px;
			border-right: 2px solid rgba(255,255,255,.2);
			margin: 0;
			&:last-of-type {
				border: none;
			}
			span {
				white-space: nowrap;
				font-size: 13px;
				font-weight: 700;
			}
		}

		&-sum {
			color: #69A0FF;
			margin-right: 5px;
			padding-left: 15px;
			position: relative;	
		}
		&-currency {
			content:"";
			display: flex;
			justify-content: center;
			align-items: center;
			width: 26px;
			height: 26px;
			border-radius: 50%;
			background:#053786;
		}
		&-minus {
			color: #FF0004;
		}
		&-plus {
			color: #1BE2FF;
		}
	}
}

@media screen and (max-width: 1180px) {
	.show_menu {
		display: block;
		order: 99;
		margin-left: 20px;
		span {
			right:unset;
		}
	}
	.nav {
		position: absolute;
		top:-250vh;
		left:0;
		transition: 0.5s;
		background:$darkblue;
		z-index: 99;
		flex-direction: column;
		padding: 25px 15px 110px;
		height: 100vh;
		justify-content: flex-start;
		overflow:auto;
		opacity:0;
		pointer-events:none;
		flex-direction: column;
		margin-bottom: 20px;
		width: 100%;
		li {
			margin: 10px 0;
		}
		&.active {
			top:81px;
			opacity:1;
			pointer-events:unset;
		}

	}
	nav {
		justify-content: flex-end;align-items: center;

	}
	// .nav {
	// 	flex-direction: column;
	// 	margin-bottom: 20px;
	// 	li {
	// 		margin: 10px 0;
	// 	}
	// }
	.social_links {
		// margin-bottom: 20px;
	}
	.header {
		align-items: center;
		justify-content: space-between;
		padding-top:20px;
		padding-bottom: 15px;
		.user {
			margin:14px auto 0;
			.user_nav-toggler {
				font-size: 18px;
			}
			.avatar_wrap {
				margin-right: 5px;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.logo {
		margin-right: 15px;
	}
	// .social_links {
	// 	flex-direction: column;
	// 	li {
	// 		min-width: 24px;
	// 		margin: 5px 10px;
	// 	}
	// }
	.header {
		align-items: flex-start;
	}
	nav {
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
	.nav.active {
		top: 115px;
	}
	.login_btns {
		margin:10px auto 0;
		.btn {
			margin: 0 10px;
		}
	}
	.show_menu {
		margin: 3px 0 0 10px;
	}
}

@media screen and (max-width: 520px) {
	nav {
		order: 99;
		width: 100%;
	}
	.header {
		flex-wrap: wrap;
		.user {
			width: 100%;
			justify-content: center;
		}
	}
	.nav.active {
		top: 162px
	}
}