.offer {
	padding-top: 68px;
	padding-bottom: 68px;
	background:url('../img/index_offer-bg.svg') no-repeat 75% 50% ;

	&_heading {
		color:$middleblue;
		font-size: 40px;
		line-height: 126.4%;
		max-width: 480px;
		margin-bottom: 20px;
		font-weight: 400;
	}
	&_desc {
		font-size: 16px;
		line-height: 1.5;
		color: #053786;
		max-width: 450px;
		margin-bottom: 42px;
	}
	&_cta {
		display: inline-flex;
		flex-direction: column;
		align-items: center;
	}
	.protection_text {
		opacity:.3;
		display: flex;
		align-items: center;
		font-size: 14px;
		svg {
			margin: .3;
			margin: -2px 6px 0 0;
		}
	}
	.btn {
		margin-bottom: 15px;

	}
}

.plans_section {
	padding-top: 50px;
	padding-bottom: 30px;
	.plans {
		margin-bottom: 36px;
	}
}

.section_heading {
	color: $middleblue;
	font-size: 30px;
	line-height: 126.4%;
	margin-bottom: 34px;
}

.section_desc {
	font-size: 15px;
	line-height: 140%;
	color: #6D788C;
	max-width: 565px;
	margin-bottom: 45px;
}

.currency_selection {
	display: flex;
	align-items: center;
	margin-bottom: 37px;

	p {
		margin-right: 20px;
		font-weight: bold;
		font-size: 20px;
		line-height: 1.26;
		color: #6D788C;
	}
}
.currenct_select {
	.paw-current_value {
		background:#fff;
		border:none;
		box-shadow: 0px 5px 10px rgba(59, 119, 181, 0.05);
		border-radius: 10px;
		padding: 10px 20px 6px;
		transition: .5s;
		color: $middleblue;
		font-weight: 700;
		&:after {
			display: inline-block;
			content:'';
			width: 15px;
			height: 8px;
			margin-left: 3px;
			background: url("data:image/svg+xml,%3Csvg width='14' height='7' viewBox='0 0 14 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 0.5L7.25 5.5L13.5 0.5' stroke='%230497FD'/%3E%3C/svg%3E%0A") center no-repeat;
		}
	}
	.paw-list {
		width: 100%;
		border-radius: 0 0 8px 8px;
		overflow:hidden;
		&-item {
			padding: 10px 20px;
			display: block;
			background: none;
			border: none;
			width: 100%;
			text-align: left;
			font-weight: 700;
		}

		li {
			background: #EFF3F6;
			&:nth-of-type(even) {
				background:#fff;
			}
		}
	}

	&.active {
		.paw-current_value  {
			border-radius: 8px 8px 0 0;
		}
	}
}

.profit {
	padding-top: 45px;
	padding-bottom: 80px;
	.section_heading {
		color: #6D788C;
	}
	.potential_get {
		margin-left: 0;
		max-width: 970px;
		&-item {
			margin-left: 0;
			max-width: 19.5%;
			position: relative;
			&:before {
				content:"";
				display: block;
				position: absolute;
				width: 6px;
				height: 6px;
				background: #1DF032;
				top:15px;
				right: 15px;
				border-radius:50%;
			}
		}
	}
}

.profit_form {
	display: flex;
	align-items: center;
	margin-bottom: 22px;
	.input_block {
		margin-right: 22px;
		margin-bottom: 0;
		&-fieldset {
			background: #fff;
			input {
				padding: 22px 20px 19px;
			}
			.input_currency {
				box-shadow: unset;
				padding: 0px 25px 0 15px;
				font-size: 13px;
				line-height: 19px;
				align-items: center;
				color: $middleblue;
				font-weight: 700;
			}
		}
	}
	&_text {
		font-size: 13px;
		line-height: 126.4%;
		color: #6D788C;
		padding-top: 15px;
	}
}

.plan_select {
	.paw-current_value {
		background:#fff;
		border:none;
		box-shadow: 0px 5px 10px rgba(59, 119, 181, 0.05);
		border-radius: 10px;
		padding: 22px 20px 19px;
		transition: .5s;
		min-width: 160px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		&:after {
			display: inline-block;
			content:'';
			width: 15px;
			height: 8px;
			margin-left: 3px;
			background: url("data:image/svg+xml,%3Csvg width='14' height='7' viewBox='0 0 14 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 0.5L7.25 5.5L13.5 0.5' stroke='%230497FD'/%3E%3C/svg%3E%0A") center no-repeat;
		}
	}
	.paw-list {
		width: 100%;
		&-item {
			padding: 14px 20px;
			display: block;
			background: none;
			border: none;
			width: 100%;
			text-align: left;
			font-weight: 700;
		}

		li {
			background: #EFF3F6;
			&:nth-of-type(even) {
				background:#fff;
			}
		}
	}

	&.active {
		.paw-current_value  {
			border-radius: 8px 8px 0 0;
		}
	}
}

.advantages {
	padding-top: 65px;
	padding-bottom: 113px;
	.section_heading {
		margin-bottom: 102px;
	}
	&_content {
		display: flex;
		justify-content: space-between;
	}
	&_list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		max-width:650px;
		grid-gap: 53px 83px;
	}
	&_icon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 84px;
		height: 84px;
		background: #EFF3F6;
		border-radius: 4px;
		position: relative;
		margin-bottom: 27px;
		&:before {
			content:'';
			position: absolute;
			width: calc(100% - 20px);
			height: calc(100% - 20px);
			background-color:#fff;
			box-shadow: 0px 10.2857px 20px rgba(136, 178, 222, 0.13);
			top:50%;
			left:50%;
			transform: translate(-50%,-50%);
			border-radius: 4px;
			z-index: 4;
		}
		img {
			position: relative;
			z-index: 5;
		}
	}
	&_name {
		font-weight: bold;
		font-size: 20px;
		line-height: 126.4%;
	}
	&_item {
		&:nth-of-type(odd) {
			.advantages_name {
				color: $middleblue;

			}
		}
	}
	&_text {
		color: #6D788C;
		font-size: 15px;
		line-height: 140%;
		max-width: 253px;
		p {
			margin-bottom: 30px;
		}
		.see_all {
			display: flex;
			max-width: 200px;
			align-items: flex-end;
		}
	}
}

.affiliate {
	padding-top: 58px;
	.section_heading {
		color:#6D788C;
		margin-bottom: 27px;
	}
	.section_desc {
		max-width: 310px;
	}
	&_plans {
		display: flex;
		justify-content: space-between;
		max-width: 720px;
		margin: -132px 0 -60px auto;
		
		&-item {
			width: 32%;
			background: #FFFFFF;
			box-shadow: 0px 18px 35px rgba(136, 178, 222, 0.13);
			border-radius: 29px;
			padding: 23px 28px 30px 27px;
			display: flex;
			flex-wrap: wrap;
			grid-gap: 20px;
			justify-content: space-between;
		}
		&-name {
			font-weight: bold;
			font-size: 20px;
			line-height: 140%;
			color: #6D788C;
			small {
				display: block;
				font-weight: bold;
				font-size: 12px;
				line-height: 197.9%;
				color: #6D788C;
				white-space: nowrap
			}
		}
		&-percent {
			font-size: 50px;
			line-height: .7;
			color: #0497FD;
			margin-top: 30px;
		}
		&-text {
			font-weight: bold;
			font-size: 13px;
			line-height: 19px;
			text-align: right;
			color: #6D788C;
			align-self: flex-end;
			span {
				display: block;
				color: #0497FD;
			}
		}
	}

	&_cta {
		background: $blue;
		padding-top: 28px;
		padding-bottom: 29px;
	}
}

.about {
	padding-top: 50px;
	padding-bottom:63px;
	background:url('../img/about_bg.png') calc(100vw - 800px) 39px no-repeat;
	.section_desc {
		max-width: 540px;
	}
	.section_heading {
		margin-bottom: 50px;
	}
	&_subheading {
		font-weight: bold;
		font-size: 20px;
		line-height: 126.4%;
		color: #6D788C;
		margin-bottom: 62px;
	}
}

.destination {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	&_item {
		max-width:22%;
		img {
			margin-bottom: 23px;
		}
		h6 {
			font-size: 20px;
			margin-bottom: 13px;
			color:$middleblue;
		}
		p {
			font-size: 15px;
			line-height: 140%;
			color: #6D788C;
			margin-bottom: 15px;
		}
	}
}

.statistic {
	padding-top: 75px;
	padding-bottom: 0px;
	.section_heading {
		color: #6D788C;
		margin-bottom: 50px;
	}
	.filters {
		margin-bottom: 43px;
	}
	.filter_select:last-of-type {
		margin-left: 0;
	}
}

.table_deposits,
.table_withdraw {
	.table_row {
		grid-template-columns: 24px 1fr 1fr 1fr;
		grid-auto-rows: minmax(24px, auto);
		grid-gap: 10px;
		align-items: center;
		padding: 20px;
		font-size: 13px;
	}
	.system_logo {
		background: none;
		min-width: 24px;
		height: 24px;
	}
}

.table_reg {
	.table_row {
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: minmax(24px, auto);
		grid-gap: 10px;
		align-items: center;
		padding: 20px;
		font-size: 13px;
	}
}

.operations {
	display: flex;
	justify-content: flex-start;
	padding-bottom: 30px;
}
.operations_item {
	max-width: 350px;
	width: 100%;
	margin-right: 34px;
	&:last-of-type {
		margin-right: 0;
	}
	h5 {
		font-size: 20px;
		line-height: 126.4%;
		color: #6D788C;
		margin-bottom: 33px;
	}
}

.statistic_counters {
	padding-top: 40px;
	padding-bottom: 75px;
	border-top: 1px solid #D6E0E7;
	
	&-list {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 76px;
	}
	&-number {
		font-size: 25px;
		line-height: 1.5;
		color: $middleblue;
		margin-bottom: 11px;
	}
	&-name {
		font-size: 20px;
		line-height: 1.5;
		color: #95A0B4;
	}
}

.cta {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 66px;
	padding-bottom:94px;
	img {
		margin-right: 57px;
	}
	h3 {
		font-weight: normal;
		font-size: 26px;
		line-height: 126.4%;
		color: #0497FD;
		margin-bottom: 36px;
		strong {
			display: block;
			
		}
	}
}

.systems {
	border-top:1px solid #EDEDED;
	padding-top: 33px;
	padding-bottom: 50px;
	h2 {
		font-weight: bold;
		font-size: 20px;
		line-height: 126.4%;
		color: #6D788C;
		margin-bottom: 44px;
		text-align: center;
	}
	&_slider {
		list-style-type: none;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding: 0 40px;
		.slick-arrow {
			order: 99;
			margin: 43px 4px 0;
			z-index: 55;
		}
		.system {
			margin: 0 auto;
		}
	}
}

.start {
	padding-top: 90px;
	padding-bottom: 110px;
	&_slider {
			max-width:100%;
		&_wrap {
			display: flex;
			position: relative;
			
			.slick-arrow {
				position: absolute;
				top:110px;
				left:400px;
				height: 36px;

				// margin-top: 110px;
				// margin-left: 50px;
			}
		}
		&-item {
			img {
				margin-bottom: 30px;
				border-radius:10px;
				border: 6px solid #EFF3F6;

			}
			h3 {
				margin-bottom: 13px;
				font-weight: bold;
				font-size: 20px;
				line-height: 126.4%;
			}
			p {
				font-size: 15px;
				line-height: 140%;
				color: #6D788C;
			}
		}
		&-content{
			max-width: 350px;
		}
		.slick-slide {
			margin-right: 44px;
			opacity:.5;
			&.slick-current {
				margin-right: 200px;
				opacity:1;				
			}
		}		
	}
}

.policy {
	padding-top: 72px;
	padding-bottom: 82px;

	&_content {
		font-size: 15px;
		line-height: 140%;
		color: #6D788C;
		max-width: 785px;
		h3 {
			font-weight: bold;
			font-size: 20px;
			line-height: 126.4%;
			margin-bottom: 30px;
		}
		h4 {
			font-weight: bold;
			font-size: 16px;
			line-height: 126.4%;
			margin-bottom: 30px;
		}
		ul {
			list-style:none;
			margin-bottom: 30px;
			li {
				padding-left: 25px;
				position: relative;
				margin-bottom: 10px;
				&:before {
					display: block;
					content:'';
					width: 10px;
					height: 10px;
					left: 0px;
					top: 5px;
					top:3px;
					left:0;
					background: $middleblue;
					position: absolute;
					border-radius:50%;
				}
			}
		}
		p {
			margin-bottom: 30px;
		}
	}	
}

.faq_search {
	padding-top: 72px;
	padding-bottom: 72px;
}

.search_form {
	display: flex;
	align-items: stretch;
	justify-content: flex-start;
	input {
		display: block;
		background: #EFF3F6;
		border-radius: 8px;
		width: 100%;
		max-width: 632px;
		padding: 13px 16px 11px;
		border: none;
	}
	button {
		background:$middleblue;
		min-width: 45px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		margin-left: 10px;
		border-radius: 8px;
		&:hover {
			background: $lightblue;
		}
	}
}
.faq_tabs-header {
	display: flex;
	align-items: center;
	margin-bottom: 18px;
	h3 {
		margin-right: 15px;
	}
	.slick-arrow {
		margin-right: 10px;
	}
}
.faq_slider {
	padding-top: 40px;
	padding-bottom: 40px;
	.tab_toggler {
		border: none;
		padding: 14px 10px;
		background:#fff;
		border-radius: 11px;
		text-align: center;
		font-size: 16px;
		line-height: 126.4%;
		color: #6D788C;
		display: block;
		margin:0 5px;
		&.active {
			color:$middleblue;
		}
	}
}
.faq_content {
	padding-top: 70px;
	padding-bottom: 47px;
	list-style: none;
	counter-reset: (faqCounter);
	li {
		margin-bottom: 40px;
		&:before {
			counter-increment: (faqCounter);
			content:counter(faqCounter) '.';
			font-weight: bold;
			font-size: 20px;
			line-height: 126.4%;
			color: #6D788C;
			margin-bottom: 10px;
			display: inline;
		}
	}
	h4 {
		display: inline;
		font-weight: bold;
		font-size: 20px;
		line-height: 126.4%;
		color: #6D788C;
	}
	p {
		margin-top: 10px;
		font-size: 15px;
		line-height: 140%;
		color: #6D788C;
	}
}
.tab_content {
	opacity:0;
	pointer-events:none;
	position: absolute;
	display: none;
	
	&.active {
		opacity:1;
		pointer-events:unset;
		position: relative;
		z-index: 10;
		display: block;
		
	}
}

@media screen and (max-width: 1500px) {
	.about {
		background-position: calc(100vw - 600px) 40px;	
	}
}

@media screen and (max-width: 1180px) {
	.offer {
		background-size: 600px;
		background-position: right bottom;
	}
	.advantages_list {
		grid-template-columns: 1fr 1fr;
		grid-gap:20px 50px ; 
	}
	.affiliate_plans {
		margin-top: 0;
	}
	.affiliate_cta {
		padding-top: 80px;
	}
	.about {
		background: none;
	}
	.operations {
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.operations_item {
		margin-right: 0;
		max-width: 48%;
		margin-bottom: 30px;
	}
	.cta {
		img {
			margin-right: 15px;
		}
		h3 {
			font-size: 22px;
		}
	}
}

@media screen and (max-width: 768px) {
	.offer {
		background: none;
	}
	.profit_form {
		flex-wrap: wrap;
		.input_block {
			margin-bottom: 30px;

			&:first-of-type {
				width: 100%;
			}
		}
		&_text {
			max-width: 100%;	
			padding-top: 0;
			br {
				display: none;
				
			}
		}
	}
	.profit {
		.potential_get {
			flex-wrap: wrap;
			&-item {
				max-width:47%
			}
		}
	}
	.advantages_list {
		grid-gap:20px;
		width: 100%;
		margin-bottom: 30px;
	}
	.advantages_content {
		flex-wrap: wrap;
	}
	.advantages_text {
		max-width: 100%;
	}
	.affiliate_plans {
		flex-wrap: wrap;
		&-item {
			width: 100%;
			max-width: 240px;
			margin-bottom: 20px;
		}
	}
	.destination {
		flex-wrap: wrap;
		&_item {
			width: 100%;
			max-width: 48%;
			margin-bottom: 30px;
		}
	}
	.table_deposits .table_row, .table_withdraw .table_row {
		grid-template-columns: 24px 1fr 1fr 1fr !important;
		.table_cell {
			border-bottom: none;
			padding: 0;
			&:before {
				display: none;
			}			
		}
	}
	.table_reg .table_row {
		grid-template-columns: 1fr 1fr !important;
		.table_cell {
			padding: 0;
			border: none;
			&:before {
				display: none;
			}
		}
	}
	.operations_item {
		max-width: 100%;
		width: 100%;
	}
	.statistic_counters {
		&-list {
			flex-wrap: wrap;
			margin-bottom: 0;
		}
		&-item {
			width: 48%;
			margin-bottom: 20px;
		}
	}
	.start {
		&_slider {
			.slick-slide {
				margin-right: 0;
				opacity:1;
				&.slick-current {
					margin-right: 0px;
					opacity:1;				
				}
			}
			&_wrap {
				display: flex;
				position: relative;
				
				.slick-arrow {
					position: relative;
					top:0px;
					left:0px;
					margin-top: 70px;
					margin-left: -20px;
				}
			}
		}
	}
}

@media screen and (max-width: 520px) {
	.offer_heading {
		font-size: 30px;
	}
	.affiliate_plans-item {
		max-width: 250px;
		margin-right:auto;
		margin-left: auto;
	}
	.affiliate_cta .btn {
		margin: auto;
	}
	.destination_item {
		max-width: 100%;
	}
	.cta {
		flex-direction: column;
		align-items: flex-start;
		img {
			margin-bottom: 50px;
		}
	}
	.start {
		&_slider {
				max-width:250px;
		}
	}
}

@media screen and (max-width: 405px) {
	.table_deposits .table_row, 
	.table_withdraw .table_row,
	.table_reg .table_row {
		padding:5px;
		grid-gap: 5px;
	}
	.advantages_name {
		font-size: 16px;
	}
	.advantages .section_heading {
		margin-bottom: 40px;
	}
	.profit .potential_get-item {
		max-width: 100%;	
	}
	.profit_form .input_block {
		margin-right: 0;
		width: 100%;
		.plan_select {
			width: 100%;	
		}
	}
	.start {
		&_slider {
				max-width:225px;
			&_wrap {
				.slick-arrow {
					margin-top: 110px;
					margin-left: -20px;
					padding: 5px;
				}
			}
		}
	} 
}