.news {
	padding-top: 58px;
	padding-bottom: 48px;
	.section_heading {
		margin-bottom: 58px;
	}
	&_wrap {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 44px 30px;
		margin-bottom: 44px;
	}
	&_item {
		background: #FFFFFF;
		box-shadow: 0px 18px 35px rgba(136, 178, 222, 0.13);
		border-radius: 10px;
		padding: 30px;
		&-img {
			border-radius:8px;
			overflow: hidden;
			margin-bottom: 8px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&-heading {
			font-weight: bold;
			font-size: 20px;
			line-height: 140%;
			color: #6D788C;
		}
		&-date {
			font-weight: bold;
			font-size: 12px;
			line-height: 197.9%;
			color:$middleblue;
			display: block;
			margin-bottom: 15px;
		}
		&-excerpt {
			font-size: 13px;
			line-height: 140%;
			color: #6D788C;
			margin-bottom: 15px;
		}
		.see_all {
			font-size: 16px;
		}
	}
}
.post {
	padding-top: 47px;
	padding-bottom: 115px;
	&_img {
		width: 100%;
		border-radius:8px;
		overflow:hidden;
		margin-bottom: 54px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}	
	&_excerpt {
		max-width: 776px;
		font-size: 24px;
		line-height: 140%;
		color: #6D788C;
		margin-bottom: 47px;
	}
	&_content {
		max-width: 760px;
		font-size: 16px;
		color: #6D788C;
		line-height: 1.5;
	}
	& + .news {
		.section_heading {
			color: #6D788C;
			margin-bottom: 40px;
		}
	}
}
.back_link {
	display: flex;
	align-items: center;
	font-weight: bold;
	font-size: 16px;
	line-height: 126.4%;
	color: #6D788C;
	margin-bottom: 44px;
	&-arrow {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 39px;
		height: 39px;
		background: #FFFFFF;
		border: 4px solid #EFF3F6;
		border-radius: 8px;
		margin-right: 16px;
	}
}

@media screen and (max-width: 1180px) {
	.news_wrap {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 768px) {
	.news_item {
		padding: 10px;
		border-radius:10px;
	}
	.news_wrap {
		grid-gap: 15px;
	}
}

@media screen and (max-width: 510px) {
	.news_wrap {
		grid-template-columns: 1fr;
	}
	.post {
		&_excerpt {
			font-size: 20px;
		}
	}
}
