<!-- cta -->
	<section class="cta center">
		<img src="img/cta_img.png" alt="bit activity">
		<div class="cta_content">
			<h3>
				Coin activity is a high-risk Investment project <strong>based on a blockchain ethereum</strong>
			</h3>
			<button class="btn btn-blue btn-xl ">
				<span>Create account</span>
				<svg class='right' width="6" height="6" viewBox="0 0 6 6" fill="#1DF032" xmlns="http://www.w3.org/2000/svg">
				<circle cx="3" cy="3" r="3"/>
				</svg>
			</button>
		</div>
	</section>
<!-- cta -->
