<!-- footer -->
	<footer class="footer center">
		<div class="footer_item">
			<a href="index.html" class="logo">
				<img src="img/logo.svg" alt="logo">
			</a>
			<ul class="social_links">
				<li><a href="#">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M11.8033 0C5.28451 0 0 5.28451 0 11.8033C0 18.3221 5.28451 23.6066 11.8033 23.6066C18.3221 23.6066 23.6066 18.3221 23.6066 11.8033C23.6066 5.28451 18.3221 0 11.8033 0ZM12.64 11.9283V18.3499H9.98305V11.9286H8.65563V9.71563H9.98305V8.387C9.98305 6.5817 10.7326 5.5082 12.8621 5.5082H14.635V7.72137H13.5268C12.6979 7.72137 12.643 8.03063 12.643 8.60779L12.64 9.71538H14.6476L14.4127 11.9283H12.64Z" fill="white"/>
					</svg>
				</a></li>
				<li><a href="#">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M11.8033 0C5.28451 0 0 5.28451 0 11.8033C0 18.3221 5.28451 23.6066 11.8033 23.6066C18.3221 23.6066 23.6066 18.3221 23.6066 11.8033C23.6066 5.28451 18.3221 0 11.8033 0ZM13.9981 17.1533L9.13783 13.5625L14.7303 8.51571C14.9757 8.29788 14.6767 8.19166 14.3509 8.38923L7.44902 12.7435L4.4678 11.813C3.82399 11.6159 3.81937 11.1735 4.61235 10.8554L16.2295 6.37593C16.7601 6.13505 17.2722 6.50337 17.0696 7.31545L15.0912 16.6384C14.9531 17.3009 14.5528 17.4593 13.9981 17.1533Z" fill="white"/>
					</svg>
				</a></li>
			</ul>
			<div class="lang_wrap">
				<div class="paw-select lang_select" data-multiple='false' data-placeholder='Lang'>
					<button class="paw-current_value" type="button" data-set='0'>
						<span class="lang_flag">
							<img src="img/eng-flag.png" alt="eng">
						</span>
						English
					</button>
					<ul class="paw-list hidden">
						<li>
							<a href="#" class='paw-list-item' value="1">
		 						<span class="lang_flag">
		 							<img src="img/chaineese-flag.png" alt="Chi">
		 						</span>
		 						Chineese
		 					</a>
		 				</li>
						<li>
							<a href="#" class='paw-list-item' value="2">
		 						<span class="lang_flag">
		 							<img src="img/eng-flag.png" alt="alb">
		 						</span>
		 						Albanian
		 					</a>
		 				</li>
						<li>
							<a href="#" class='paw-list-item' value="2">
		 						<span class="lang_flag">
		 							<img src="img/eng-flag.png" alt="alb">
		 						</span>
		 						Albanian
		 					</a>
		 				</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-nav">
			<ul>
				<li><a href="/about-us/">
						About us
					</a></li>
				<li><a href="plans.html">
						Investments
					</a></li>
				<li><a href="affiliate.html">
						Statistics
					</a></li>
					<li><a href="affiliate.html">
						News
					</a></li>
			
				<li><a href="faq.html">
						FAQ
					</a></li>
			</ul>
		</div>
		
		<div class="footer_links">
			<div class="login_btns">
				<button class="btn btn-transparent btn-s modal_btn" data-target='login'>
					<span>Login</span>
				</button>
				<button class="btn btn-light btn-s modal_btn" data-target='reg'>
					<span>Create account</span>
				</button>
			</div>
			<ul class="footer_links-list">
				<li><a href="#">
					Data processing policy
				</a></li>
				<li><a href="#">
					Tech support
				</a></li>
				<li><a href="#">
					Smart contract
				</a></li>
			</ul>
		</div>
	</footer>
	<a href="https://t.me/vladpovelitsa" class="tg_link">
		<svg width="75" height="75" viewBox="0 0 75 75" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g opacity="0.4" filter="url(#filter0_f)">
		<path fill-rule="evenodd" clip-rule="evenodd" d="M14 37.5C14 24.5213 24.5213 14 37.5 14C50.4787 14 61 24.5213 61 37.5C61 50.4787 50.4787 61 37.5 61C24.5213 61 14 50.4787 14 37.5Z" fill="url(#paint0_linear)"/>
		</g>
		<g filter="url(#filter1_d)">
		<path d="M37.8814 9C37.8953 9 37.9232 9 37.965 9C52.0646 9 63.5309 20.4663 63.5309 34.5659C63.5309 40.3199 61.5664 45.9068 57.9719 50.4069L61.6918 59.0589C61.9983 59.7695 61.6639 60.5915 60.9673 60.8841C60.7165 60.9955 60.4379 61.0234 60.1732 60.9816L46.5334 58.5852C43.8027 59.5744 40.9326 60.076 38.0347 60.0621C23.9351 60.0621 12.4688 48.5957 12.4688 34.4962C12.4409 20.4385 23.8237 9.01393 37.8814 9Z" fill="url(#paint1_linear)"/>
		</g>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M32.3861 38.7335L42.2112 46.0215C43.3323 46.6426 44.1415 46.321 44.4208 44.9764L48.4201 26.0545C48.8296 24.4063 47.7943 23.6588 46.7218 24.1477L23.2379 33.2393C21.6349 33.8848 21.6442 34.7827 22.9457 35.1828L28.9722 37.0713L42.9241 28.2339C43.5828 27.8329 44.1873 28.0485 43.6911 28.4906" fill="white"/>
		<defs>
		<filter id="filter0_f" x="0.0465107" y="0.0465107" width="74.907" height="74.907" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
		<feFlood flood-opacity="0" result="BackgroundImageFix"/>
		<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
		<feGaussianBlur stdDeviation="6.97674" result="effect1_foregroundBlur"/>
		</filter>
		<filter id="filter1_d" x="5.49201" y="5.51163" width="65.0156" height="65.9535" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
		<feFlood flood-opacity="0" result="BackgroundImageFix"/>
		<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
		<feOffset dy="3.48837"/>
		<feGaussianBlur stdDeviation="3.48837"/>
		<feColorMatrix type="matrix" values="0 0 0 0 0.23316 0 0 0 0 0.465221 0 0 0 0 0.708333 0 0 0 0.05 0"/>
		<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
		<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
		</filter>
		<linearGradient id="paint0_linear" x1="37.5" y1="14" x2="37.5" y2="61" gradientUnits="userSpaceOnUse">
		<stop stop-color="#04B2FD"/>
		<stop offset="1" stop-color="#0497FD"/>
		</linearGradient>
		<linearGradient id="paint1_linear" x1="37.9998" y1="9" x2="37.9998" y2="61" gradientUnits="userSpaceOnUse">
		<stop stop-color="#04B2FD"/>
		<stop offset="1" stop-color="#0497FD"/>
		</linearGradient>
		</defs>
		</svg>
	</a>
<!-- footer -->
