<!-- header -->
	<header class="center header">
		<a href="index.html" class="logo">
			<img src="img/logo.svg" alt="logo">
		</a>
		<button class="show_menu">
			<span></span>
			<span></span>
			<span></span>
		</button>
		<nav>
			<ul class="nav">
				<li><a href="about.html">
					About company
				</a></li>
				<li><a href="plans.html">
					Investment plans
				</a></li>
				<li><a href="affiliate.html">
					Affiliate program
				</a></li>
				<li><a href="faq.html">
					F.A.Q.
				</a></li>
				<li><a href="contacts.html">
					Contacts
				</a></li>
				<li class="lang_wrap">
					<div class="paw-select lang_select" data-multiple='false' data-placeholder='Lang'>
						<button class="paw-current_value" type="button" data-set='0'>
							<span class="lang_flag">
								<img src="img/eng-flag.png" alt="eng">
							</span>
							English
						</button>
						<ul class="paw-list hidden">
							<li>
								<a href="#" class='paw-list-item' value="1">
			 						<span class="lang_flag">
			 							<img src="img/chaineese-flag.png" alt="Chi">
			 						</span>
			 						Chineese
			 					</a>
			 				</li>
							<li>
								<a href="#" class='paw-list-item' value="2">
			 						<span class="lang_flag">
			 							<img src="img/eng-flag.png" alt="alb">
			 						</span>
			 						Albanian
			 					</a>
			 				</li>
							<li>
								<a href="#" class='paw-list-item' value="2">
			 						<span class="lang_flag">
			 							<img src="img/eng-flag.png" alt="alb">
			 						</span>
			 						Albanian
			 					</a>
			 				</li>
						</ul>
					</div>
				</li>
			</ul>

			<ul class="social_links">
				<li><a href="#">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M11.8033 0C5.28451 0 0 5.28451 0 11.8033C0 18.3221 5.28451 23.6066 11.8033 23.6066C18.3221 23.6066 23.6066 18.3221 23.6066 11.8033C23.6066 5.28451 18.3221 0 11.8033 0ZM12.64 11.9283V18.3499H9.98305V11.9286H8.65563V9.71563H9.98305V8.387C9.98305 6.5817 10.7326 5.5082 12.8621 5.5082H14.635V7.72137H13.5268C12.6979 7.72137 12.643 8.03063 12.643 8.60779L12.64 9.71538H14.6476L14.4127 11.9283H12.64Z" fill="white"/>
					</svg>
				</a></li>
				<li><a href="#">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M11.8033 0C5.28451 0 0 5.28451 0 11.8033C0 18.3221 5.28451 23.6066 11.8033 23.6066C18.3221 23.6066 23.6066 18.3221 23.6066 11.8033C23.6066 5.28451 18.3221 0 11.8033 0ZM13.9981 17.1533L9.13783 13.5625L14.7303 8.51571C14.9757 8.29788 14.6767 8.19166 14.3509 8.38923L7.44902 12.7435L4.4678 11.813C3.82399 11.6159 3.81937 11.1735 4.61235 10.8554L16.2295 6.37593C16.7601 6.13505 17.2722 6.50337 17.0696 7.31545L15.0912 16.6384C14.9531 17.3009 14.5528 17.4593 13.9981 17.1533Z" fill="white"/>
					</svg>
				</a></li>
			</ul>

			<div class="login_btns">
				<button class="btn btn-transparent btn-s modal_btn" data-target='login'>
					<span>Login</span>
				</button>
				<button class="btn btn-light btn-s modal_btn" data-target='reg'>
					<span>Create account</span>
				</button>
			</div>
		</nav>
	</header>
<!-- header -->