<!-- statusbar -->
	<section class="statusbar center">
		<ul class="statusbar_list runline">
			<li>
				<span class="statusbar_list-sum">
					$8843.00 
				</span>
				<span class="statusbar_list-shift statusbar_list-plus">
					+0.01%
				</span>
			</li>
			<li>
				<span class="statusbar_list-sum">
					$8843.00 
				</span>
				<span class="statusbar_list-shift statusbar_list-minus">
					-24.01%
				</span>
			</li>
			<li>
				<span class="statusbar_list-sum">
					$8843.00 
				</span>
				<span class="statusbar_list-shift statusbar_list-plus">
					+0.01%
				</span>
			</li>
			<li>
				<span class="statusbar_list-sum">
					$8843.00 
				</span>
				<span class="statusbar_list-shift statusbar_list-plus">
					+0.01%
				</span>
			</li>
			<li>
				<span class="statusbar_list-sum">
					$8843.00 
				</span>
				<span class="statusbar_list-shift statusbar_list-plus">
					+0.01%
				</span>
			</li>
			<li>
				<span class="statusbar_list-sum">
					$8843.00 
				</span>
				<span class="statusbar_list-shift statusbar_list-minus">
					-24.01%
				</span>
			</li>
			<li>
				<span class="statusbar_list-sum">
					$8843.00 
				</span>
				<span class="statusbar_list-shift statusbar_list-plus">
					+0.01%
				</span>
			</li>
			<li>
				<span class="statusbar_list-sum">
					$8843.00 
				</span>
				<span class="statusbar_list-shift statusbar_list-plus">
					+0.01%
				</span>
			</li>
			<li>
				<span class="statusbar_list-sum">
					$8843.00 
				</span>
				<span class="statusbar_list-shift statusbar_list-minus">
					-24.01%
				</span>
			</li>
			<li>
				<span class="statusbar_list-sum">
					$8843.00 
				</span>
				<span class="statusbar_list-shift statusbar_list-plus">
					+0.01%
				</span>
			</li>
			<li>
				<span class="statusbar_list-sum">
					$8843.00 
				</span>
				<span class="statusbar_list-shift statusbar_list-plus">
					+0.01%
				</span>
			</li>
		</ul>
	</section>
<!-- statusbar -->