<!-- systems -->
	<section class="systems">
		<h2>
			We accept payment systems:
		</h2>
		<ul class="systems_slider">
			<li>
				<span class="system">
					<span class="system_logo">
						<img src="img/bitcoin.svg" alt="">
					</span>
					<span class="system_name">
						Bitcoin
					</span>
				</span>
			</li>
			<li>
				<span class="system">
					<span class="system_logo">
						<img src="img/bitcoincash.svg" alt="">
					</span>
					<span class="system_name">
						BitcoinCash
					</span>
				</span>
			</li>
			<li>
				<span class="system">
					<span class="system_logo">
						<img src="img/dashcoin.svg" alt="">
					</span>
					<span class="system_name">
						dashcoin
					</span>
				</span>
			</li>
			<li>
				<span class="system">
					<span class="system_logo">
						<img src="img/dogecoin.svg" alt="">
					</span>
					<span class="system_name">
						Dogeoin
					</span>
				</span>
			</li>
			<li>
				<span class="system">
					<span class="system_logo">
						<img src="img/ethereum.svg" alt="">
					</span>
					<span class="system_name">
						Ethereum
					</span>
				</span>
			</li>
			<li>
				<span class="system">
					<span class="system_logo">
						<img src="img/litecoin.svg" alt="">
					</span>
					<span class="system_name">
						Litecoin
					</span>
				</span>
			</li>
			<li>
				<span class="system">
					<span class="system_logo">
						<img src="img/payeer.svg" alt="">
					</span>
					<span class="system_name">
						Payeer
					</span>
				</span>
			</li>
			<li>
				<span class="system">
					<span class="system_logo">
						<img src="img/perfectmoney.svg" alt="">
					</span>
					<span class="system_name">
						Perfectmoney
					</span>
				</span>
			</li>
			<li>
				<span class="system">
					<span class="system_logo">
						<img src="img/ripple.svg" alt="">
					</span>
					<span class="system_name">
						Ripple
					</span>
				</span>
			</li>
			<li>
				<span class="system">
					<span class="system_logo">
						<img src="img/zcash.svg" alt="">
					</span>
					<span class="system_name">
						Zcash
					</span>
				</span>
			</li>
			<li>
				<span class="system">
					<span class="system_logo">
						<img src="img/tether.svg" alt="">
					</span>
					<span class="system_name">
						Tether
					</span>
				</span>
			</li>
		</ul>
	</section>
<!-- systems -->